.divLeft {
    width: 90%;
    float: left;
    
}

.divRight {
    background: darkcyan;
    color: white;
    width: 10%;
    float: right;
    height: 50px;
}

.Tabs {
    background: darkcyan;
    color: white;
    font-weight: bolder;
    font-family: "Malgun Gothic";
    /* height: 50px; */
}

.SignButtonGroup {
    margin-left: 66%;
    margin-top: 0.2%;
}

.SignButtonSingle {
    padding:2000px;
    margin-left: 10%;

}